/* ============== Common Styles ============= */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px){
.container {
    min-width: 768px;
}

}

@media only screen and (min-width: 1158px){
.container {
    min-width: 1158px;
}
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ============== /Common Styles ============= */

/* ============== header styles ============= */
.address-style,.ul-nav-header {
    display: none;
}

.header-class {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.part-black {
    color: #2e2f42;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

@media only screen and (min-width: 768px){
    
}

/* ============== /header styles============= */
/* ============== Mobile menu styles============= */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    /* opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visability 250ms linear; */
}

/* .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
} */

.mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* --position-- */
    position: absolute;
    top: 24px;
    right: 24px;
    /* --/position-- */
}

.mobile-menu-close-icon {
    fill: #2e2f42;
}

/* ============== /Mobile menu styles============= */