/* ============== Common Styles ============= */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px){
.container {
    min-width: 768px;
}

}

@media only screen and (min-width: 1158px){
.container {
    min-width: 1158px;
}
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ============== /Common Styles ============= */

/* ============== header styles ============= */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.part-black {
    color: #2e2f42;
}


@media only screen and (max-width: 767px){
.address-style,
.ul-nav-header {
    display: none;
}

.header-class {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

}

@media only screen and (min-width: 768px){
.address-style,
.ul-nav-header {
    display: flex;
}

.mobile-menu-open-btn{
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 512px;
}

.ul-nav-header {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
}

.first-li {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-li::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address-style {
    font-style: normal;
    margin-left: auto;

    margin-top: 16px;
    margin-bottom: 16px;

}

.ul-contacts-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}
}

@media only screen and (min-width: 1158px){
.header-nav {
    width: 453px;
}

.nav-header:hover,
.nav-header:focus {
    color: #404bbf;
}

.contacts {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.ul-contacts-header {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

}
/* ============== /header styles============= */
/* ============== Mobile menu styles============= */

@media only screen and (max-width: 767px) {

.mobile-menu-container {
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear, visability 250ms linear;
}

    /* .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
} */

.mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    padding: 0;
    width: 24px;
    height: 24px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* --position-- */
    position: absolute;
    top: 24px;
    right: 24px;
    /* --/position-- */
    }

.mobile-menu-close-icon {
    fill: #2e2f42;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 168px;
}

.mobile-nav-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.mobile-first-nav {
    color: #404bbf;
}

.mobile-ul-contacts-header {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 48px;
}

.mobile-contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-tel {
    color: #4d5ae5;
}

.mobile-header-link {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.mobile-link {
    width: 40px;
    height: 40px;
}

.mobile-header-link-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* ============== /Mobile menu styles============= */


/* ============== Main Styles ====================== */
/* ============== Title section Styles ============= */

@media only screen and (max-width: 767px){
.title-effective-solution {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
    max-width: 216px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;

}

.first-section {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 767px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Section-title/background-images-mobile-title-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-order {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;

    border-radius: 4px;
    width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border: none;
}

@media only screen and (min-resolution: 192dpi) {
    .first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Section-title/background-images-mobile-title-section@2x.jpg)
    }
}

}


@media only screen and (min-width: 768px){
.first-section {
    background-color: #2e2f42;
    padding: 112px 0;
    max-width: 768px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Section-title/background-images-tablet-title-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-resolution: 192dpi){
.first-section {
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Section-title/background-images-tablet-title-section@2x.jpg);
}
}

.title-effective-solution {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 36px;
}

.button-order {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;

    border-radius: 4px;
    width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border: none;
}

}

@media only screen and (min-width: 1158px){
.first-section {
    padding: 188px 0;
    max-width: 1440px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/Section-title/background-images-title-section.jpg);
    
}

.title-effective-solution {
    margin-bottom: 48px;
}

}

/* ============== /Title section Styles ============= */

/* ============== Our Benefits section ============= */

@media only screen and (max-width: 767px){
.icon-our-benefits {
    display: none;
}

.section-our-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.ul-our-benefits {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.title-our-benefits {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 8px;
}

.text-our-benefits {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

}

@media only screen and (min-width: 768px){
.icon-our-benefits {
    display: none;
}

.section-our-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.ul-our-benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 24px;

}

.li-our-benefits {
    width: 356px;
}

.title-our-benefits {
    margin-bottom: 8px;
}
}
/* ============== /Our Benefits section ============= */